body{
    background-color: #B0C4DE;
    font-family: Arial;
}

p{
	margin-left: 15px;
	font-size: 15px;
	padding: 10px;
}

.conteiner h1 {
	color: darkblue;
	margin: 15px 5px 15px 20px;
	padding: 10px;
}


.conteiner b {
	margin: 20px 5px 15px 20px;
}

.button{
	display: inline-block;
	margin-left:10px;

}


